<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>Library</title>
</head>
<body>
    <div class="container">
        <h1>Add or edit a book!</h1>
        {% if books is not empty %}
          <p>Here are all your books:</p>
          <ul>
            {% for book in books %}
                <li><a href="/books/{{ book.getId }}">{{ book.getTitle }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}

        <form action='/books' method='post'>
          <label for='title'>Book title</label>
          <input id='title' name='title' type='text'>

          <button class="btn-success" type='submit'>Add book</button>
        </form>

        <form action='/delete_books' method='post'>
            <button class="btn-danger" type='submit'>Clear</button>
        </form>

        <h2><a href='/'>Home</a></h2>
    </div>
</body>
</html>
