<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <link rel='stylesheet' href='/styles.css'>
    <title>Library</title>
</head>
<body>
  <div class="container">
    <h1>Are you a librarian or a patron?</h1>

    <h3><a href="/librarian">Librarian</a></h3>
    <h3><a href="/patron">Patron</a></h3>
  </div>
</body>
</html>
